@tailwind base;
@tailwind components;
@tailwind utilities;

body {
margin: 0;
  padding: 0;
}

.remove-highlight{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.skeleton-loader{
    animation: skeleton 3s ease-in-out 2s infinite alternate;
}
@keyframes skeleton {
  0%   {opacity: 0.3}
  25%  {opacity: 1}
  50%  {opacity: 0.3}
  75%  {opacity: 1}
  100% {opacity: 0.3}
}


