@tailwind base;
@tailwind components;
@tailwind utilities;


body {
margin: 0;
  padding: 0;
}

table{
  border-radius: 100%;
}

td {
  text-align: center;
  /*border: 1px solid rgba(217, 217, 217, 1);*/
  padding: 20px;
  cursor: pointer;
}

th {
  text-align: center;
  border: 1px solid white;
  background-color: #3C5896;
  color: white;
  padding: 15px;
}

tr:nth-child(odd) {
  background-color: rgba(255, 184, 28, 0.48);
  /*border: 1px solid black;*/

}